@model int

@{
    ViewBag.Title = "La commande est complétée.";
}

<h2>La commande est complétée.</h2>

<p>Merci pour votre commande! Votre numéro de commande est: @Model</p>

<p>Pourquoi ne pas magasiner pour plus de music dans notre 
    @Html.ActionLink("magasin", "Index", "Home")
</p>
