@model MvcMusicStore.Models.Album

@{
    ViewBag.Title = "Supprimer";
}

<h2>Confirmation de suppression</h2>

<p>Êtes-vous sur de vouloir supprimer
   <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Supprimer" />
    </p>
    <p>
        @Html.ActionLink("Retour à la liste", "Index")
    </p>

}