@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Magasin";
}
<h3>Parcourir les genres</h3>

<p>
    Sélectionner parmis @Model.Count() genres:</p>
<ul>
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>
